<!DOCTYPE html>
<html>
<head>
<title><%= details.metatitle %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>  
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="<%= details.public_path %>/js/custom.js"></script>
<script type="application/x-javascript">
addEventListener("load", function() { 
	setTimeout(hideURLbar, 0); 
}, false); 
function hideURLbar(){ 
	window.scrollTo(0,1); 
} 
</script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<!-- Custom Theme files -->
<link href="<%= details.public_path %>/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- //Custom Theme files -->
<!-- web font -->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
<!-- //web font -->
</head>
<body>
	<!-- main -->
	<div class="main-w3layouts wrapper">
		<h1><%= details.heading %></h1>