<%- include ('partials/header.ejs'); -%>

<div class="main-agileinfo">
	<div class="agileits-top">			
			<h1>Please Click on below given links</h1>
			<a href="/signup" class="btn">Signup</a>
			<a href="/signin" class="btn">Signin</a>
		</form>
	</div>
</div> 

<%- include ('partials/footer.ejs'); -%>
